<div class="container-fluid">
<div class="row">
    <div class="col-md-2">
        <div class="menu mt-5 border p-2">
            <div *ngIf="this.srvAut.currentUserValue?.ClientesEntity">
                <a [routerLink]="'/panel/cliente'" class="d-block">Mi Perfil</a>
                <a [routerLink]="'/panel/cambiarContra'" class="d-block">Cambiar contraseña</a>
                <a [routerLink]="'/panel/cliente/compras'" class="d-block">Compras</a>
                <a [routerLink]="'/panel/cliente/favoritos'" class="d-block">Favoritos</a>
            </div>
        
            <div *ngIf="this.srvAut.currentUserValue?.PrestadoresEntity">
                <a [routerLink]="'/panel/prestador'" class="d-block">Mi Perfil</a>
                <a [routerLink]="'/panel/cambiarContra'" class="d-block">Cambiar contraseña</a>
                <a [routerLink]="'/panel/prestador/actividades'" class="d-block">Actividades</a>
                <a [routerLink]="'/panel/prestador/compras'" class="d-block">Compras</a>
            </div>
            <a (click)="salir()" class="d-block">Salir</a>
        </div>
    </div>
    <div class="col-md-10">
        <div class="contenido border mt-5 p-2">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>

</div>  