<div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Fecha</th>
        <th>Cliente</th>
        
        <th>Reserva</th>
        <th>Descuento</th>
        <th>Estado</th>
        <th>Activa</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let obj of ArrObj;">
        <td class="text-center text-muted">#{{obj.IdCompra}}</td>
        <td>{{obj.Fecha | date:'dd/MM/yyyy'}}</td>
        <td>{{obj.ClientesEntity.Apellido}}</td>
        
        <td>{{obj.Reserva}}</td>
        <td>$ {{obj.MontoDescuento ? obj.MontoDescuento:'0'}}</td>
        <td>{{obj.EstadosCompraEntity.Nombre}}</td>
        <td class="text-center">{{obj.Activa ? 'Si':'NO'}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    
</div>
