<div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
  
        <div>
         Prestadores
          <div
            class="page-title-subheading">
            Listado
          </div>
        </div>
      </div>
     </div>
  </div>
  
  
  <div class="main-card mb-3 card">
    <div class="card-header">
      <div class="row">
          <div class="col-md-8">
            Prestadores
          </div>
          <div class="col-md-4 text-right">
              <input type="text" class="form-control" placeholder="Filtro" [(ngModel)]="strFiltro" (keyup)="Filtro()">
          </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Fecha</th>
          <th>Razón Social</th>
          <th>Nombre de Fantasía</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>CUIT</th>
          <th class="text-center">Certificado</th>
          <th class="text-center">Habilitado</th>
          <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
            
        <tr *ngFor="let obj of ArrObj;">
          <td class="text-center text-muted">#{{obj.IdPrestador}}</td>
          <td>{{obj.FechaRegistro | date:'dd/MM/yyyy'}}</td>
          <td>{{obj.RazonSocial}}</td>
          <td>{{obj.NombreFantasia}}</td>
          <td>{{obj.Email}}</td>
          <td>{{obj.Telefono}}</td>
          <td>{{obj.Cuit}}</td>
          <td class="text-center"> <a href="{{assets}}assets/certificaciones/{{obj.Certificado}}" target="_blank"><i class="fa fa-paperclip" *ngIf="obj.Certificado"></i></a></td>
          <td class="text-center">{{obj.Activo ? 'Si':'NO'}}</td>
          <td class="text-center">
  
            <i class="fas fa-trash me-2" role="button" (click)="Borrar(obj)" *ngIf="this.obj.Activo"></i>
            <i class="fas fa-check me-2" role="button" (click)="Activar(obj)" *ngIf="!this.obj.Activo"></i>
            <i class="fas fa-edit me-2" role="button" (click)="Ver(obj)"></i>
           
  
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshData()">
        </ngb-pagination>
      </div>
    </div>
  </div>
