<div class="sector gris">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="registro p-5 rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-8 offset-md-2 text-center">
                            <h3>Registro clientes</h3>
                            <p>Creá una cuenta para añadir actividades a tus favoritos y acceder a tus reservas desde cualquier dispositivo.</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label>Nombre</label>
                            <input [(ngModel)]="obj.Nombre" name="Nombre" type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <label>Apellido</label>
                            <input type="text" [(ngModel)]="obj.Apellido" name="Apellido" class="form-control">
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-6">
                            <label>Email</label>
                            <input type="email" [(ngModel)]="obj.Email" name="Email" class="form-control">
                        </div>
                        <div class="col-6">
                            <label>Fecha de Nacimiento</label>
                            <input [(ngModel)]="obj.FechaNacimiento" name="FechaNacimiento" type="date" class="form-control">
                        </div>
                    </div>
                    
                    
                    <div class="row mt-3">
                        <div class="col-4">
                            <label>País</label>
                            <select [(ngModel)]="obj.IdPais" name="IdPais" class="form-select form-control" (change)="onChangePais($event)">
                                <option value="" selected disabled>Seleccione País</option>
                                <option *ngFor="let paises of listapaises" [ngValue]="paises.IdPais">{{paises.Nombre}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Provincia</label>
                            <select [(ngModel)]="obj.IdProvincia" name="IdProvincia" class="form-select form-control" (change)="onChangeProvincia($event)"> 
                                <option value="" selected disabled>Seleccione Provincia</option>
                                <option *ngFor="let provincias of listaprovincias" [ngValue]="provincias.IdProvincia">{{provincias.Nombre}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Localidad</label>
                            <select [(ngModel)]="obj.IdLocalidad" name="IdLocalidad" class="form-select form-control">
                                <option value="" selected disabled>Seleccione Localidad</option>
                                <option *ngFor="let localidades of listalocalidades" [ngValue]="localidades.IdLocalidad">{{localidades.Nombre}}</option>
                            </select>
                        </div>
                    </div>
        
                    
                    <div class="row mt-3">
                        <div class="col-6">
                            <label>Sexo</label>
                            <select class="form-control form-select" id="exampleFormControlSelect1">
                                <option></option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="O">Otro</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Teléfono</label>
                            <input type="text" [(ngModel)]="obj.Telefono" name="Telefono" class="form-control">
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-6">
                            <label>Contraseña</label>
                            <input type="password" [(ngModel)]="usu.Contra" name="Contra" class="form-control">
                        </div>
                    </div>
                    <!--<div class="row">
                        <input type="checkbox" class="row" [(ngModel)]="obj.Novedades" id="Novedades">
                        <label class="form-check-label" for="Novedades">Deseo recibir novedades por correo</label>
                    </div>
                    <div class="row">
                        <input type="checkbox" [(ngModel)]="obj.Politicas" id="Politicas">
                        <label class="checkbox-inline" for="Politicas">Acepto las Políticas y Condiciones</label>
                    </div>-->
        
                    <div class="row">
                        <div class="col-6 offset-md-3 text-center">
                            <button class="mt-3 btn btn-dark btn-lg mb-3 ps-5 pe-5" (click)="Registrar()">Registrarme</button>
                            <p>Al crear una cuenta, mostras tu conformidad con nuestros 
                                <a href="/terminosycondiciones" target="_blank"><b>Términos de Servicio</b>
                            </a> y <a href="/politicasdeprivacidad" target="_blank"><b>Políticas de Privacidad.
                            </b></a></p>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <hr>
                            <p class="mt-4">Crea tu cuenta de empresa y ofrece las mejores <br>experiencias</p>
                            <a class="mt-3 mb-3 btn btn-primary btn-lg ps-5 pe-5" href="/registro/prestador">Registrarme</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <hr>
                            <span>¿Ya tenés cuenta? <a [routerLink]="'/login'" role="button" class="color-verde">Iniciar sesión </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>