.buscador{border:1px solid #48494A;border-radius: 35px;padding: 10px 20px;display: inline-block;}
.buscador.slide{background-color: #fff !important;}
.buscador .form-control{background-color: transparent;border:0px;border-bottom:1px solid #48494A;border-radius: 0px;}