<div class="buscador" [ngClass]="this.slide ? 'slide':''">
    <div class="row g-3 align-items-center align-self-center">
        <div class="col-auto">
            <label for="fecha">Fecha</label>
        </div>
        <div class="col-auto">
            <input type="date" name="fecha" id="fecha" [(ngModel)]="fecha" class="form-control">
        </div>
        <div class="col-auto ms-3">
            <label class="">Categoria</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-control" [(ngModel)]="categoria">
                <option [ngValue]="null">Todas</option>
                <option *ngFor="let c of categorias" [ngValue]="c">{{c.Nombre}}</option>
            </select>
        </div>
        <div class="col-auto ms-3">
            <button class="btn btn-dark btn-sm" (click)="buscar()"><span>BUSCAR</span> <i class="fas fa-search ms-3"></i></button>
        </div>
    </div>
</div>
