.archivosAportados{height: 300px; width: 100%;overflow-y: scroll;overflow-x: hidden;}
.archivosAportados .mini{display: inline-block;border-radius: 9px; border:1px solid #ccc;width: 200px;height: 200px;overflow: hidden;position: relative;background-size: cover;background-position: center;margin-right: 10px;}
.archivosAportados .mini .borrar{position: absolute;top:5px;right: 5px;background-color: transparent;border: 0px;text-align: center;}
.archivosAportados .mini .borrar i{font-size: 18px;background-color: #fff;padding: 5px;border-radius: 7px;}
.archivosAportados .mini img{height: 100%;}

