.item{text-align:center;transition: all 0.5s ease-in-out;}
.item img{margin: 0 auto;}
.item h4{font-size: 14px;color:#555555;margin-top: 10px;}
.item:hover h4{color:#007793 !important}
.flechas{}
.flechas .izq{position: absolute;top:25px;left: 20px;}
.flechas .der{position: absolute;top:25px;right: 20px;}
.flechas .der img{transform: rotate(180deg);}
