<div class="impactos">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imp">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/experiencias.png">
                    </div>
                    <div class="col-md-9">
                        <h3>Encontrá experiencias auténticas</h3>
                    </div>
                </div>
                <p>Dejá que te guíe la curiosidad, sentí la emoción de descubrir y explorá cada rincón de Argentina.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="imp">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/flexible.png">
                    </div>
                    <div class="col-md-9">
                        <h3>Reservas flexibles y dinámicas</h3>
                    </div>
                </div>
                <p>Cancelá de forma gratuita, planeá sobre la marcha o reservá con anticipación. Descubrí Argentina a tu manera.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="imp">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/mundo.png">
                    </div>
                    <div class="col-md-9">
                        <h3>Un mundo de acción y posibilidades</h3>
                    </div>
                </div>
                <p>Obtené recomendaciones, descubrí actividades, atracciones emblemáticas y mucho más.</p>
                </div>
            </div>
        </div>
    </div>
</div>
