<div class="impactos">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imp">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/experiencias.png">
                    </div>
                    <div class="col-md-9">
                        <h3>Encuentra experiencias auténticas</h3>
                    </div>
                </div>
                <p>Deja que te guíe la curiosidad, siente la emoción de descubrir y explora cada rincón del mundo.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="imp">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/flexible.png">
                    </div>
                    <div class="col-md-9">
                        <h3>Reservas flexibles y dinámicas</h3>
                    </div>
                </div>
                <p>Cancela de forma gratuita, planea sobre la marcha o reserva en el último minuto. Descubre el mundo a tu manera.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="imp">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/mundo.png">
                    </div>
                    <div class="col-md-9">
                        <h3>Un mundo de acción y posibilidades</h3>
                    </div>
                </div>
                <p>Obtén recomendaciones e itinerarios personalizados con más de 60.000 actividades, atracciones emblemáticas y mucho más.</p>
                </div>
            </div>
        </div>
    </div>
</div>
