<div class="categorias">
    <div class="container-fluid">
        <app-categorias></app-categorias>
    </div>
</div>
<div class="sector gris pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3 mt-3">Nosotros</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-1">
               
                <p class="mt-2">Somos una comunidad que planea abrir nuevos horizontes para el turismo de aventura brindando un espacio para encontrar todas las actividades de deporte alternativo en Argentina.

                    <br><br>Creamos un espacio para que puedas ofrecer tus servicios y actividades a la comunidad de públicos interesados.
                    
                    <br><br>Ofrecemos las mejores facilidades para que como usuario encuentres esa actividad que deseas hacer y te conectamos con los y las mejores guías de turismo de nuestro país.
                    
                    <br><br>Monagua es un proyecto comprometido con el cuidado y la preservación del medioambiente ofreciendo actividades que promuevan el uso consciente de nuestros espacios naturales.
                    </p>
            
                <h4 class="mt-3">Misión</h4>
                <p>Conectar a las personas con el disfrute de realizar actividades de turismo alternativo ofreciendo diferentes actividades para públicos diversos.</p>
                <h4 class="mt-3">Visión</h4>
                <p>Buscamos ser referentes e impulsores del turismo alternativo a lo largo y a lo ancho del país brindando un espacio para la difusión de actividades del rubro turístico, recreativo y deportivo.</p>
                
            
            
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-1">
                <div class="banner rounded" style="background-image: url('assets/nosotros.jpg')">
                    
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-1">
                <h4>¿Qué actividades puedo encontrar en Monagua?</h4>
                <ul>
                    <li><p>Alquiler de lanchas, motos de agua, kayak, veleros, bicicletas, motocross, equipos de trekking, equipos de pesca, etc. </p></li>
                    <li><p>Guiadas de trekking, ciclismo, caminatas, escaladas, canyoning, rappel, excursiones en kayak, de pesca, cabalgatas, competencias de running, de natación, triatlones, canicross, etc.</p></li>
                    <li><p>Experiencias bautismo de paracaídas, parapente, parapente con motor, buceos, veleros, slackline, planeadores, aviones, etc.</p></li>
                </ul>
                <p><b>Podés encontrar la actividad que deseas utilizando los filtros disponibles para generar una búsqueda adecuada a tus necesidades.</b></p>
            
               
            </div>
        </div>
    </div>
    
</div>