<div class="categorias">
    <div class="container-fluid">
        <app-categorias></app-categorias>
    </div>
</div>
<div class="sector gris pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3 mt-3">Nosotros</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Origen</h4>
                <p class="mt-2">Somos estudiantes de turismo alternativo y a su vez consumidores amantes del mismo. Lo que impulsó esta idea fue la ansia por compartir con la mayor cantidad de personas estas emociones que nos llenan por dentro, esa satisfacción de superarnos en una caminata, la adrenalina de andar en lancha, el desafío inexplicable de saltar en paracaídas, el abrazo fraternal al conquistar una cumbre, el asombro de descubrir la vida del buceo, y muchísimas más.</p>
            
                <h4 class="mt-3">Objetivos</h4>
                <h5 class="color-verde mt-2 mb-2">¿Cómo saber qué actividades puedo realizar, si soy primerizo y desconozco mis opciones?</h5>
                <p>Como aventurero amante de la vida al aire libre, siempre me gusta incursionar en nuevas actividades. Yo nunca supe que se llevaba a cabo buceos en Córdoba, de casualidad después de muchos años, tropecé con esta actividad, pero ¿Cuántos potenciales clientes</p>
            </div>
            <div class="col-md-6">
                <h4>&nbsp;</h4>
                <p class="mt-2">se pierden de esta maravillosa experiencia solo por desconocer de su existencia? ¿Cuántos turistas regresarían cada año si supieran la diversidad de servicios que nuestros prestadores ofrecen? 
                <p class="mt-3">- Con esta WEB fomentamos sus distintos servicios, para que los turistas puedan navegar entre opciones diversas, distintos precios, niveles de dificultad, ambientes, épocas del año, entre otras. </p>
                <p class="mt-3">- Esta página vincula en todos los rubros y niveles a cualquier actividad de turismo como alquileres de lanchas, hasta salidas de cabalgata para toda la familia. </p>
                <p class="mt-3">Filtrando las actividades que son justas para tu medida, en tiempo, lugar, precios, dificultades, deseos y demás.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="banner rounded" style="background-image: url('assets/nosotros.jpg')">
                    
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>¿A QUIENES ESTÁ DIRIGIDO?</h4>
                <p class="mt-2">El proyecto abarca a cualquier rubro deportivo o recreativo que se pueda comercializar con turistas locales y/o provenientes de otras provincias o países:</p> 
                <p class="mt-2">• Alquiler de lanchas, motos de agua, kayak, veleros, bicicletas, motocross, equipos de trekking, equipos de pesca, etc. </p>
                <p class="mt-2">• Guiadas de trekking, ciclismo, caminatas, escaladas, canyoning, rappel, excursiones en kayak, de pesca, cabalgatas, competencias de running, de natación, triatlones, canicross, etc.</p>
                <p class="mt-2">• Experiencias bautismo de paracaídas, parapente, parapente con motor, buceos, veleros, slackline, planeadores, aviones, etc.</p>
            
                
            </div>
            <div class="col-md-6">
                <h4>&nbsp;</h4>
                <p class="mt-2">Por ende está dirigido a todo el público en general, pudiendo a través de los filtros disponibles generar una búsqueda adecuada a mis diferentes capacidades referidas en los siguientes ítems: 
                <br><br>Distintas edades, alcance monetario, disponibilidad de días, ubicación en el territorio, diferenciación de rubros (acuático, aéreo, terrestre), diferentes aptitudes requeridas, necesidades o no de equipamiento, primera vez o con experiencias previas. Es muy importante aclarar que hoy está más requerido y buscado el turismo inclusivo, y en Monagua no nos quedamos atrás, se han virilizado trekking a personas que son invidentes, personas que tienen sorderas, entre otros. No es un ítem a pasar por alto la aplicación de un filtro que incluya a personas con alguna discapacidad motora o cognitiva. 
                
            </div>
        </div>
    </div>
    
</div>