

<div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
  
        <div>
          Prestadores
          <div
            class="page-title-subheading">
            Datos de Registro
          </div>
        </div>
      </div>
      <div class="page-title-actions">
        <button type="button" (click)="Volver()" class="btn-shadow d-inline-flex align-items-center btn btn-dark">
          Volver
        </button>
      </div>
    </div>
  </div>
  
  <div class="card-body">
    <form>
      
      <div class="row">
        <div class="col-md-6">
          <div class="position-relative form-group mt-2">
            <label for="exampleEmail11">Razón Social</label>
            <input type="text" [(ngModel)]="obj.RazonSocial" readonly name="RazonSocial" class="form-control">
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="position-relative form-group mt-2">
                <label for="exampleEmail11">Nombre de Fantasía Social</label>
                <input type="text" [(ngModel)]="obj.NombreFantasia" readonly name="NombreFantasia" class="form-control">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="position-relative form-group mt-2">
                <label for="exampleEmail11">CUIT</label>
                <input type="text" [(ngModel)]="obj.Cuit" readonly name="Cuit" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="position-relative form-group mt-2">
                <label for="exampleEmail11">Teléfono</label>
                <input type="text" [(ngModel)]="obj.Telefono" readonly name="Telefono" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="position-relative form-group mt-2">
                <label for="exampleEmail11">País</label>
                <input type="text" [(ngModel)]="obj.PaisesEntity.Nombre" readonly name="IdPais" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="position-relative form-group mt-2">
                <label for="exampleEmail11">Provincia</label>
                <input type="text" [(ngModel)]="obj.ProvinciasEntity.Nombre" readonly name="IdProvincia" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="position-relative form-group mt-2">
                <label for="exampleEmail11">Localidad</label>
                <input type="text" [(ngModel)]="obj.LocalidadesEntity.Nombre" readonly name="IdLocalidad" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="position-relative form-group mt-2">
                <label for="exampleEmail11">Email</label>
                <input type="text" [(ngModel)]="obj.Email" readonly name="Email" class="form-control">
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="position-relative form-group mt-2">
                <label for="exampleEmail11">Certificado </label><br>
                <a href="{{assets}}assets/certificaciones/{{obj.Certificado}}" target="_blank"> <i class="fa fa-paperclip" *ngIf="obj.Certificado"></i> {{obj.Certificado}}</a>
            </div>
        </div>
    </div>