<div class="sector gris pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login p-5 rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3>Recuperar contraseña</h3>
                            <p>Ingresa tu email para poder recuperar tu cuenta.</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" placeholder="Nombre de usuario*" name="usuario"  [(ngModel)]="obj.Usuario" class="form-control">
                            </div>
                            
                            <div class="form-group mt-3 text-center">
                                <button class="btn btn-dark btn-lg" (click)="Enviar()"><span class="ps-3 pe-3">RECUPERAR</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12 text-center">
                            <span><a [routerLink]="'/registro/cliente'" [queryParams]="{ org:this.org}" role="button">¿No tenes cuenta? <b>Registrate</b></a></span><br>
                            <hr class="mt-3">
                            <span>¿Ya tenes cuenta? <a [routerLink]="'/login'"  role="button" class="color-verde">Ingresar</a></span><br>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5"></div>
    <div class="mt-5">&nbsp;</div>
</div>

