<!--<a [routerLink]="'/'" class="me-4">Home</a>
<a [routerLink]="'/login'" class="me-4">Login</a>
<a [routerLink]="'/registro/cliente'" class="me-4">Registro Clientes</a>
<a [routerLink]="'/registro/prestador'" class="me-4">Registro Prestadores</a>
<a [routerLink]="'/admin'" class="me-4">Admin</a>
<a [routerLink]="'/compras'" class="me-4">Carrito</a>

<a [routerLink]="'/panel/cliente'" *ngIf="this.srvAut.currentUserValue?.ClientesEntity" class="me-4">PANEL</a>
<a [routerLink]="'/panel/prestador'" *ngIf="this.srvAut.currentUserValue?.PrestadoresEntity" class="me-4">PANEL</a>
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div id="top" *ngIf="!esAdmin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 align-self-center">
                <a href="/"><img src="assets/logo.svg" alt="Monagua"></a>
            </div>
            <div class="col-md-6 align-self-center">
                <app-buscador [InsideSlide]="false"></app-buscador>
            </div>
            <div class="col-md-3 align-self-center">
                <span *ngIf="!srvAut.currentUserValue">
                    <a class="btn btn-dark btn-lg ms-2" href="registro/cliente?org=">Crear cuenta</a>
                    <a class="btn btn-dark btn-lg ms-2" href="login">Iniciar sesión</a>
                </span>
                <span *ngIf="srvAut.currentUserValue">
                    <button class="btn btn-dark btn-lg ms-2" (click)="Cuenta()" href="registro/cliente?org="><i class="fas fa-user"></i> {{srvAut.currentUserValue.Apellido}}</button>
                   
                </span>
                <a class="btn btn-dark btn-lg ms-2" href="/compras">{{srvCompras.carrito.Detalle.length}} <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        
    </div>
</div>


<router-outlet></router-outlet>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Monagua © 2022</p>   
            </div>
            <div class="col-md-8 text-end">
                <a class="ms-3" href="nosotros">Nosotros</a>
                <a class="ms-3" href="contacto">Contacto</a>
                <a class="ms-3" href="ayuda">Ayuda</a>
                <a class="ms-3" href="terminosycondiciones">Términos y condiciones</a>
                <a class="ms-3" href="politicasdeprivacidad">Políticas de privacidad</a>
            </div>
        </div>
    </div>
</footer>    

