.lista-mensajes{background-color: #848484;border-radius: 15px;padding: 30px;height: 300px;overflow-y: scroll;}
.mensaje{border: 1px solid #DDDDDD;padding:10px;border-radius:15px;display: block;margin-bottom: 20px;}
.presta{background-color: #DDDDDD;}
.cliente{background-color: #7ECE00;text-align: right;border: 1px solid #7ECE00;}
.mensaje .fecha{font-size: 10px;}