<div class="" *ngIf="this.presta">
    <div class="row mt-3">
        <div class="col">
            <label>Razón Social</label>
            <input type="text" [(ngModel)]="presta.RazonSocial" name="RazonSocial" class="form-control">
        </div>
        <div class="col">
            <label>Nombre de Fantasía</label>
            <input type="text" [(ngModel)]="presta.NombreFantasia" name="NombreFantasia" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label>CUIT</label>
            <input [(ngModel)]="presta.Cuit" name="Cuit" type="number" class="form-control">
        </div>
        <div class="col">
            <label>Teléfono</label>
            <input [(ngModel)]="presta.Telefono" name="Telefono" type="number" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label>País</label>
            <select [(ngModel)]="presta.IdPais" name="IdPais" class="form-select form-control" (change)="onChangePais($event)">
                <option value="" selected disabled>Seleccione País</option>
                <option *ngFor="let paises of listapaises" [ngValue]="paises.IdPais">{{paises.Nombre}}</option>>
            </select>
        </div>
        <div class="col">
            <label>Provincia</label>
            <select [(ngModel)]="presta.IdProvincia" name="IdProvincia" class="form-select form-control" (change)="onChangeProvincia($event)"> 
                <option value="" selected disabled>Seleccione Provincia</option>
                <option *ngFor="let provincias of listaprovincias" [ngValue]="provincias.IdProvincia">{{provincias.Nombre}}</option>>
        </select>
        </div>
        <div class="col">
            <label>Localidad</label>
            <select [(ngModel)]="presta.IdLocalidad" name="IdLocalidad" class="form-select form-control">
                <option value="" selected disabled>Seleccione Localidad</option>
                <option *ngFor="let localidades of listalocalidades" [ngValue]="localidades.IdLocalidad">{{localidades.Nombre}}</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label>Email</label>
            <input type="text" [(ngModel)]="presta.Email" name="Email" class="form-control">
        </div>
    </div>
    

    <div class="row mt-3">
        <div class="col">
            <button class="mt-3 btn btn-dark btn-lg mb-3" (click)="Registrar()">Actualizar datos</button>
        </div>
    </div>
</div>

