.ficha{padding:50px 0px;}
.ficha .calificacion{font-size: 18px; font-weight: 700;color:#007793}
.ficha .calificacion span{font-size: 16px;color:#848484;margin-left: 20px;}
.ficha p{font-size: 14px;};
.ficha .compartir{}
.ficha .compartir .item{display: inline-block;margin-left: 20px;}
.ficha .fotoprincipal{width: 100%;height: 405px;background-size: cover;background-position: center;overflow: hidden;border-radius: 15px 0px 0px 15px;}
.ficha .fotosecundaria{width: 100%;height: 195px;background-size: cover;background-position: center;overflow: hidden;margin-bottom: 15px;}
.ficha .fotosecundaria.ext{border-radius: 0px 15px 15px 0px;}
.ficha .prestadorHabilitado{font-size: 16px;font-weight: 700;color:#7ECE00}
.ficha .card{background-color: #F7F7F7;}
.grisClaro{color:#555}
.line-2{line-height: 24px;}